.wrapper{
    display: flex;
    height: 100vh;

    .desc-side{
        background-image: url("../../assets/images/pexels.jpeg");
        background-size: cover;
        width: 50%;
        float: right;
        
        .desc-content{
            color: #ffffff;
            text-align: center;
            margin-top: 13em;
            font-weight: bolder;
            font-size: 30px;
        }
    }

    .login-side{
        width: 50%;
        
        .form{
            margin-top: 18em;
            margin-left: 8em;
            margin-right: 8em;

            .form-header{
                display: flex;
                justify-content: space-between;

                .form-icon{
                    img{
                        width: 89px;
                        height: 89px;
                    }
                }

                .form-text{
                    font-size: 23px;
                    padding-top: 26px;
                    color: #000000;
                    // font-weight: bold;
                }
            }

            .form-inputs{
                input:focus{
                    border-color: #ffff !important;
                    box-shadow: 0 1px #2876DD;
                    border-radius: 0;
                    opacity: 0.8;
                   
                }

                input:first-child{
                    margin-top: 25px;
                }
                input{
                    border-left: 0;
                    border-right: 0;
                    border-top: 0;
                    margin-top: 30px;
                    font-size: 20px;
                    
                }   
            }

            .buttons{
                width: 100%;
                background: #FBBC05;
                text-align: center;
                margin-top: 47px;
                padding: 12px;
                border-radius: 10px;
                
                a{
                    color: #ffffff;
                    font-size: 20px;       
                }
            }
        }

    }
}