      <div id="wrapper">

        <!-- Main -->
          <div id="main">
            <div class="inner">

              <!-- Header -->
<!--                 <header id="header">
                  <a href="index.html" class="logo"><strong>Web Application</strong></a>
                  <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                  </ul>
                </header> -->

              <!-- Section -->
                <section class="section">
                  <webview class="webview">
                    <div class = "indicator"></div>
                 </webview>
                </section>

            </div>
          </div>

        <!-- Sidebar -->
          <div id="sidebar" >
            <div class="inner" >
              <a routerLink="/login">Login</a>

              <!-- <a href="#sidebar" class="toggle">Toggle</a> -->
              <!-- Search -->
                <section id="search" class="alt">
                  <form method="post" action="#">
                    <input type="text" (keydown.enter)="searchPage($event.target.value)" placeholder="Search" />
                  </form>
                </section>

              <!-- Menu -->
                <nav id="menu">

                  <header class="major">
                    <h2>Current</h2>
                  </header>

                  <ul>
                    <li class="icon solid fa-link">
                      <a href="#" (click)="loadPageNow(loadPage)"> 
                        {{loadPage}}
                      </a>
                    </li>
                  </ul>
                </nav>

              <!-- Section -->
                <section>

                  <header class="major">
                    <h2>History</h2>
                  </header>
                  <ul class="history">
                    <li *ngFor="let history of historyPages" class="icon solid fa-link">
                      <a href="#" (click)="loadPageNow(history)">
                        {{history}}
                      </a>
                    </li>
                  </ul>                    


                </section>                
<!--                 <section>
                  <header class="major">
                    <h2>History</h2>
                  </header>
                  <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                    <li class="icon solid fa-phone">(000) 000-0000</li>
                    <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
                    Nashville, TN 00000-0000</li>
                  </ul>
                </section> -->

              <!-- Footer -->
                <footer id="footer">
                  <p class="copyright">&copy; Untitled. All rights reserved.. Design: <a href="#">PKen</a>.</p>
                </footer>

            </div>
          </div>

      </div>
<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
</div>
 -->
<!-- 
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
}
 -->
