      <div id="wrapper">

        <!-- Main -->
          <div id="main">
            <div class="inner">

              <!-- Header -->
<!--                 <header id="header">
                  <a href="index.html" class="logo"><strong>Web Application</strong></a>
                  <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                  </ul>
                </header> -->
              <!-- Section -->
                <section class="section">
                  <webview class="webview" enableremotemodule="false" allowpopups nodeintegration nodeintegrationinsubframes plugins>
                    <div class = "indicator"></div>
                 </webview>
                </section>

            </div>
          </div>

        <!-- Sidebar -->
          <div id="sidebar" >
            <div class="inner" >
              <a routerLink="login" routerLinkActive>Login</a>

              <!-- <a href="#sidebar" class="toggle">Toggle</a> -->
              <!-- Search -->
                <section id="search" class="alt">
                  <form method="post" action="#">
                    <input type="text" (keydown.enter)="searchPage($event.target.value)" placeholder="Search" />
                  </form>
                </section>

              <!-- Menu -->
                <nav id="menu">

                  <header class="major">
                    <h2>Current</h2>
                  </header>
                  <ul>
                    <li class="icon solid fa-link">
                      <a href="#" (click)="loadPageNow(loadPage)"> 
                        {{loadPage}}
                      </a>
                    </li>
                  </ul>
                </nav>

              <!-- Section -->
                <section>

                  <header class="major">
                    <h2>History</h2>
                  </header>
                  <ul class="history">
                    <li *ngFor="let history of historyPages" class="icon solid fa-link">
                      <a href="#" (click)="loadPageNow(history)">
                        {{history}}
                      </a>
                    </li>
                  </ul>                    


                </section>                
<!--                 <section>
                  <header class="major">
                    <h2>History</h2>
                  </header>
                  <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                    <li class="icon solid fa-phone">(000) 000-0000</li>
                    <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
                    Nashville, TN 00000-0000</li>
                  </ul>
                </section> -->

              <!-- Footer -->
                <footer id="footer">
                  <p class="copyright">&copy; Untitled. All rights reserved.. Design: <a href="#">PKen</a>.</p>
                </footer>

            </div>
          </div>

      </div>
<!-- <script>
  onload = () => {
    const webview = document.querySelector('webview')
    const indicator = document.querySelector('.indicator')

    const loadstart = () => {
      indicator.innerText = 'loading...'
    }

    const loadstop = () => {
      indicator.innerText = ''
    }

    webview.addEventListener('did-start-loading', loadstart)
    webview.addEventListener('did-stop-loading', loadstop)
  }
</script> -->